### Ignorer les fichiers de build ###
/target/
/bin/
/build/
/out/

### Ignorer les fichiers IDE ###
.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.project
.settings/

### Ignorer les fichiers de logs ###
logs/
*.log

### Ignorer les fichiers temporaires ###
*.tmp
*.temp

### Ignorer les fichiers système ###
.DS_Store
Thumbs.db

### Ignorer les dépendances Maven ###
.mvn/
mvnw
mvnw.cmd

### Ignorer les fichiers générés ###
/generated/
/generated-sources/


# Sensitive files
service-exchange/src/main/resources/firebase-service-account.json
skill-uploads/